In [ ]:
  #Assignment 1

In [ ]:
 #1 Create one variable containing following type of data

In [ ]:
#(1) String

In [ ]:
Nitin_string= " Hello data science"

In [ ]:
print(type(Nitin_string))

In [ ]:
 #(2) list

In [ ]:
data_science_list = ['python', 'pandas', 'sql', 'powerBI', 23,36]

In [ ]:
print(type(data_science_list))

In [ ]:
#(3) Float

In [ ]:
Nitin=9.08
print(type(Nitin))

In [ ]:
#(4)Tuple
Nitin_tuple= (1,2,3,41,"Datascience")

In [ ]:
print(type(Nitin_tuple))

In [ ]:
#2.The type of variable are
 #(1) var=' '   it is astring type variable

In [ ]:
 #var2 =[ DS, ML, Python] it is a list type variable

In [1]:
# var3= [ 'DS',' ML',' Python'] it is a list type variable

In [2]:
# var=1 it is considred as interger type variable

In [3]:
#3. Explain the use of the following oprerators using one exmalple

In [4]:
 # 3.a / it divides the the numerator by denominator (only numbers or any variable assigned to a number) it gives float type data by defualt

In [5]:
print(type(13/4))

<class 'float'>

In [6]:
  # 3.b % it gives the remainder when divided  the numerator by denominator (only numbers or any variable assigned to a number) it gives int type data by defualt

In [7]:
print (14%3)

2

In [8]:
#3.c // it gives the nearest whole number when the numerator is divded by denpminator

In [9]:
 print(25//3)

8

In [10]:
 # 3.d ** it is the exponential operator it raise the power of the former number to the later number

In [11]:
 print(3**5)

243

In [12]:
#4. Create a list of length 10 of your choice containing multiple type of data> Using for loop print the element and its datatype

In [20]:
nitin_list=['datascience','python',[1,5,9],30.4,29,'github','machine learning',45,'name',88.236]

In [25]:
for i in nitin_list  :
    print("Element:",i,"|data type:", type(i))

Element: datascience |data type: <class 'str'>
Element: python |data type: <class 'str'>
Element: [1, 5, 9] |data type: <class 'list'>
Element: 30.4 |data type: <class 'float'>
Element: 29 |data type: <class 'int'>
Element: github |data type: <class 'str'>
Element: machine learning |data type: <class 'str'>
Element: 45 |data type: <class 'int'>
Element: name |data type: <class 'str'>
Element: 88.236 |data type: <class 'float'>

In [ ]:
#5.Using a while loop verify if the number is purely divisible by number B and if so then how many times it can be divisible

In [ ]:
 # taking the input from user of two number let A and B and then proceeding as per instruction

In [8]:
A=int(input("Enter the value of A"))
B=int(input("enter the value of B"))
count=0
while A%B==0 :
    A//=B
    count+=1
    if A==0:
        print(A, "is purely divisible by {B} and can be divided by [count] times.")
    else:
        print("{A}is not purely divided by {B}.")

Enter the value of A 300
enter the value of B 100

{A}is not purely divided by {B}.

In [18]:
list1=[3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25] # 6. Create a list containing 25 int type data using for loop and if else condition print if the element is divisble by 3 or not
for i in list1:
    if list1[i]%3==0:
         print([i],"The number is divisible by 3")
  
    else:
        print([i],"The number is not divisible by 3")

[3] The number is divisible by 3
[4] The number is not divisible by 3
[5] The number is not divisible by 3
[6] The number is divisible by 3
[7] The number is not divisible by 3
[8] The number is not divisible by 3
[9] The number is divisible by 3
[10] The number is not divisible by 3
[11] The number is not divisible by 3
[12] The number is divisible by 3
[13] The number is not divisible by 3
[14] The number is not divisible by 3
[15] The number is divisible by 3
[16] The number is not divisible by 3
[17] The number is not divisible by 3
[18] The number is divisible by 3
[19] The number is not divisible by 3
[20] The number is not divisible by 3
[21] The number is divisible by 3
[22] The number is not divisible by 3

IndexError: list index out of range

In [10]:
#7. What do u understand about mutable and immutable data types? Give example for both showing this property.
 # Mutable data types variable are variable which can be modified and asssigned new values.like string and list, list is a mutuable data type and string is immutable data type

In [ ]:
name= "nitin"
name[1]= "w"    # this will give error as it is not mutuable and value of string can not be assigned

In [7]:
list2=[2,3,10,11,11.11]

In [11]:
list2[2]=5   # here list2 which is a list type variable is muruable and new values can be assigned for its element

In [12]:
list2

[2, 3, 5, 11, 11.11]